{% extends "base.html" %}
{% block title %}O aplikacji{% endblock %}

{% block content %}
    <h2>O aplikacji</h2>
    <div class="heart">
    <div class="about">
        <p>Aplikacja <i>"Farm Life"</i> została stworzona by pomóc Ci zarządzać gospodarstwem.</p>
    <p>W menu głównym znajdziesz odnośniki do Twoich użytków rolnych, zasadzonych roślin oraz używanego sprzętu.</p>
    <p>Przechodząc pomiędzy kolejnymi zakładkami możesz dodawać, usuwać oraz edytować zasoby Twojego gospodarstwa.</p>
    <p>Dodając nieoczekiwane wydatki jak np. naprawa sprzętu, jak i znacznie milsze - dodatkowe przychody - możeszy wygenerować bilans końcowy Twojego przybytku.</p>
    <p>Bilans możesz stworzyć na podstawie wybranego przez Ciebie przedziału czasowego.</p>
        <p>Wystarczy tylko założyć konto by móc cieszyć się ze wszystkich możliwości <i>"Farm Life".</i></p>
    <p>Enjoy!</p>
    </div>
    </div>
{% endblock %}